extends layout 

block content 
    h1 #{title}

    form(method='POST' action='')
        .form-group
            label(for='name') Author name: 
            input#name.form-control(type='text' placeholder='Lady Gaga, Queen etc.' name='name' value=(undefined===author ? '' : author.name))
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul 
            for error in errors 
                li!= error.msg