extends layout 

block content 

    .container 
        h2(class='mt-3') #{category.name}

        ul 
            for item in items
                li 
                    a(href=`${item.url}`) #{item.name}