extends layout

block content

  for item in items 
    .container.m-5
      h2 !{item.name}
      p !{item.description}
      p $!{item.price}
      a(href = `${item.url}`) Click here to check it out!
